
.container {
   text-align: center;
   padding-top:50px;
   margin-bottom:30px;

}
.heading{
    text-align: center;
    font-size:33px;
    line-height: 39px;
  
    letter-spacing: -.34px;
    margin:0 auto 8px;
    max-width: 380px;
}

.stand{
    font-size:22px;
    line-height: 28px;
    color: #262626;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 20px;
}
.byline{
    margin: 0 auto;
    max-width: 250px;
    line-height: 1.4;
    margin-bottom: 8px;
    letter-spacing: 0;
    text-align: center;
    color: #8c8c8c;
}